<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLo7r8-0D90XuHmIuT7fhCZfN_9xEgFjM</string>
	<key>GCM_SENDER_ID</key>
	<string>923919388136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LearningSwitUI</string>
	<key>PROJECT_ID</key>
	<string>vishalswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>vishalswiftui.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923919388136:ios:ade33c26fe12e70e88285d</string>
</dict>
</plist>